.idea/
**/.env
**/.terraform
**/node_modules/
**/temp/
**/coverage/
**/build/
**/dist/
**/*.log

mainnet-contracts/out/*
mainnet-contracts/cache/*
l2-contracts/out/*
l2-contracts/cache/*
partners/merkle-contracts/out/*
partners/merkle-contracts/cache/*
partners/layerzero/out/*
partners/layerzero/cache/*
**/lcov.info

.DS_Store
.aider*
**/lcov.info
**/broadcast/
solidity-docs/
mainnet-contracts/output/puffer.json
