[submodule "partners/chainlink/lib/forge-std"]
	path = partners/chainlink/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "partners/layerzero/lib/forge-std"]
	path = partners/layerzero/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "mainnet-contracts/lib/automata-tee-workload-measurement"]
	path = mainnet-contracts/lib/automata-tee-workload-measurement
	url = https://github.com/automata-network/automata-tee-workload-measurement
    branch = develop
