.idea/
**/.env
**/.terraform
**/node_modules/
**/temp/
**/coverage/
**/build/
**/dist/
**/*.log

mainnet-contracts/out/*
mainnet-contracts/cache/*
l2-contracts/out/*
l2-contracts/cache/*

.DS_Store
**/lcov.info
