[profile.default]
src = "src"
out = "out"
libs = ["lib"]

allow_paths = ["../node_modules", "./node_modules"]
block_number = 0 # Our RAVE evidence is generated for blockhash(0) which is bytes32(0)
fs_permissions = [{ access = "read-write", path = "./"}]
optimizer = true
optimizer_runs = 200
evm_version = "prague" # is live on mainnet
seed = "0x1337"
solc = "0.8.30"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

[fmt]
line_length = 120
int_types = "long"
tab_width = 4
quote_style = "double"
bracket_spacing = true