[profile.default]
gas_reports=[

]
allow_paths = ["../node_modules", "./node_modules"]
block_number = 0 # Our RAVE evidence is generated for blockhash(0) which is bytes32(0)
fs_permissions = [{ access = "read-write", path = "./"}]
src = "src"
out = "out"
libs = ["lib"]
auto_detect_solc = false
# cbor_metadata = false
# bytecode_hash = "none"
optimizer = true
optimizer_runs = 200
evm_version = "cancun" # is live on mainnet
# seed = "0x1337"
solc = "0.8.26"
# via_ir = true

[fmt]
line_length = 120
int_types = "long"
tab_width = 4
quote_style = "double"
bracket_spacing = true

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

[rpc_endpoints]
mainnet="${ETH_RPC_URL}"
holesky="${HOLESKY_RPC_URL}"

[invariant]
fail_on_revert=false
depth = 110
runs = 50

[fuzz]
runs = 50000